package-lock.json
pnpm-lock.yaml
node_modules
dist
test
src-tauri/target
src-tauri/Cargo.lock
src-tauri/*.toml
src-tauri/config.yaml
!src-tauri/Cargo.toml
version.txt
version.json
.kiro
.agents
*.test.ts
*tests*
.claude/